main h1{
    text-align: center;
}

.container{
    text-align: center;
}

.what-we-do{
    margin-top: 20px;
    background-color: grey;
}
.what-we-do p{
    color: white;
}

.team-members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-members div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem;
    border-radius: 20px;
}
.team-members img{
    border-radius: 50%;
}

.team-members div{
    border-bottom: 1px solid;
    width: 450px;
    background-color: white;
    min-height: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
}

.description{
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgb(164, 164, 164);
}


@media only screen and (min-width:600px){
    .what-we-do{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .what-we-do div{
        max-width: 30%;
    }

    .team-members{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    /*.team-members div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        border-radius: 10px;
        box-shadow: 2px 2px 2px ;
        padding: 10px;
        width: 20%;
        height: 50vh;
        background-color: white;
    }*/
    .team-members div{
        position: relative;
    }
    .team-members>div>img{
        position: absolute;
        top: 3rem;
    }
    .description{
        position: absolute;
        width: 140px;
        transform: translate(0,65%);
        height: 5rem;
    }
    
}